*{
    margin: 0;
    padding: auto;
    
}
body{
     background-image: url('range rovar.jpg'); */
}
.first{
    background-color: bisque;
    color: white;
    height: 50px;
    background-image: url('range rovar.jpg'); */
}